* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", "Roboto";
    --secondary-background: #3b82f6;
}


body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--secondary-background);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;
    z-index: 1;
}

.profile-container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.about-me-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    padding: 20px;
    gap: 30px;
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.card {
    box-shadow: 1px 2px 5px #e7e5e4;
}

/* .card {
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
} */

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.5rem;
}

.svg-icon {
    height: 25px;
    width: 25px;
}


main {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.work-header {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px 3px #e7e5e4;
    transition: transform 0.5s ease;
    border-radius: 5px;
    max-width: 95%;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image-container {
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.project-info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 30px 70px;
}

.project-name {
    font-weight: 200;
    margin-bottom: 20px;
}


.project-links {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    gap: 15px;
    font-size: 25px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.violet {
    background-color: violet;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

li {
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: var(--secondary-background);
    padding: 30px 50px;
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-links.footer-links {
    display: flex;
    justify-content: flex-start;
    color: black;
}

h3 {
    font-weight: 300;
    font-size: 1.3rem;
}

.white-svg {
    filter: invert(1);
}